################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/screen-sound/Program.cs
/screen-sound/screen-sound.csproj
