# Arquivos gerados pelo Build
bin/
obj/
out/

# Dependências gerenciadas pelo NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Configurações do Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide.*
*.ipch

# Logs e relatórios
*.log
*.tlog
*.cache
*.pdb

# Arquivos temporários e de backup
~$*
*.tmp
*.bak
*.swp
*.dbmdl

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de publicação
.publish/

# Ferramentas específicas
*.app/
*.db/
*.jfm/
_ReSharper/
*.resharperuser
.idea/

# Arquivos gerados pelo Rider
.idea/
*.sln.iml

# Arquivos gerados pelo Azure
azure-pipelines.yml
